%% -*- mode: Erlang; -*-

%{require_otp_vsn, "R19"}.
sub_dirs, [ "rel"]}.
% 
% 
 {erl_opts, [
    {parse_transform, lager_transform},
     {i, "include"},
      warn_unused_vars
 ]}.
     %warnings_as_errors,



{deps, [
	    { lager,   {git, "https://github.com/basho/lager.git",       {tag, "2.0.1"}}},
	        { cowboy,  {git, "https://github.com/ninenines/cowboy.git",  {tag, "0.8.6"}}},
		%    { jiffy, ".*", {git, "git@github.com:davisp/jiffy.git", {branch, "master"}}}

	        { jsx,  {git, "https://github.com/talentdeficit/jsx.git", {branch, "main"}}},
                { mcd,  {git, "https://github.com/perldev/mcd-1.git", {branch, "master"}}},
		%                { emysql, {git, "https://github.com/Eonblast/Emysql.git", {branch, "master"} }  },
		{ pickle, ".*", {git, "git@github.com:jdavisp3/pickle.git", {branch, "master"}}},
		{ ranch, {git,"https://github.com/extend/ranch.git",{tag, "0.8.4"}}  },
		{ goldrush, {git, "https://github.com/DeadZen/goldrush.git",
		                                                            {tag,"0.1.5"} }  }
		]}.
		




%{deps, [
%    { lager, ".*",    {git, "git@github.com:basho/lager.git", {tag, "3.2.0"}}},
%    { cowboy, "1.1.0",  {git, "git@github.com:extend/cowboy.git", {tag, "1.1.0"}}},
%     { cowboy, "2.3.6", {git, "git@github.com:extend/cowboy.git",  "2.3.6"}},
    %
%    {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {branch, "master"}}},
%    { pickle, ".*", {git, "git@github.com:jdavisp3/pickle.git", {branch, "master"}}},
%    { mcd, "1.1.0", {git, "git@github.com:perldev/mcd-1.git", {branch, "master"}}}

%    { emysql, ".*", {git, "git@github.com:Eonblast/Emysql.git", {branch, "master"} }  }
%]}.

{cover_enabled, true}.
{clean_files, ["deps/*/ebin", "*.eunit", "ebin"]}.
{app_bin, ["ebin"]}.
{eunit_opts, [
                verbose,
                {report, {eunit_surefire, [{dir, "."}]}}
            ]
}.
